body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center; 
  background-color: #5E60CE;
  color: #fff;
}

a {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.1em;
   color: #fff;
}

header > nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header > nav > li {
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.2em;
   margin: 0 1em;
   padding-right: 1.5em;
}

section {
   background-image: url(foto---.jpg);
   background-repeat: no-repeat;
   opacity:0.8;
   background-size: 100% 100%;
   width: 100%;
   height: 300px;
   text-align: center;
}
section > h1 {
   display: inline-block;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.5em;
   color: #fafafa;
   padding: 1em;
}

.para-image {
   color: #f2f5f6;
   font-size: 0.2em;
   text-align: center;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
}

.button-div {
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin: 8%;
}
.btn-section {
   padding: 10px;
   border-radius: 8px;
   color: #fff;
   background-color:#3A0CA3 ;
}
.art-0 h2 {
   margin-top: 10px;
   margin: 0;
}

.art-0 {
   background-color: #333448;
   color: white;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 1em;
   border-radius: 2px;
}

.art-01 {
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
   align-items: center;    
   margin: 40px;
}

.picture-0 , .picture-1 , .picture-2 {
   margin: 0.5em;
  text-align: center;
}

.btn-icon {
   background-color:#0e323d;
   margin: auto;
   padding: 1em;
   border-radius: 9px;
   color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.art--02 {
   text-align: center;
   font-size: 1em;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #333448;
   padding: 2em;
   color: #fff;
}
@media only screen and (max-width: 600px) {
   .art-01 {
      display: flex;
      flex-direction: column;
      height: 50%;
      padding: 10%;
      
   }
}
